<div class="container w-50 mt-5">
    <h2>Login Now</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">


        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email">
            <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched"
                class="text-danger">Email is required.</div>
            <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched"
                class="text-danger">Enter a valid email address.</div>
        </div>


        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password"
                placeholder="Enter your password">
            <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
                class="text-danger">Password is required.</div>
            <div *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched"
                class="text-danger">Password must be at least 6 characters long.</div>
        </div>


        <button type="submit" class="btn login-btn" [disabled]="loginForm.invalid">
            <span [ngClass]="{'fa-solid fa-spinner fa-spin-pulse': isLoading, 'hidden': !isLoading}"></span>
            <span *ngIf="!isLoading">login</span>
        </button>
        <p class="text-danger mt-3">{{errorMessage}}</p>

    </form>
</div>