<!-- <div class="container"> -->
<div class="row m-5 justify-content-center">
    <!-- <button class="btn btn-success w-25">Add a product</button> -->
    <!-- Adding a product modal -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success w-25" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="openAddProductModal()">
        Add New Product
    </button>

    <!-- Modal For Adding & Editing product-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{
                        isEditing ? 'Edit Product' : 'Add New Product' }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- MODAL BODY -->
                <div class="modal-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="mb-3">
                                <label for="title" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" id="recipient-name" placeholder="title"
                                    formControlName="title">
                            </div>
                            <div class="mb-3">
                                <label for="price" class="col-form-label">Price:</label>
                                <input type="number" class="form-control" id="recipient-name" placeholder="price"
                                    formControlName="price">
                            </div>
                            <div class="mb-3">
                                <app-select [data]="categories" [title]="'Choose a Category'" [all]="false"
                                    [selected]="form.value.category"
                                    (selectedValue)="selectCategory($event)"></app-select>
                            </div>
                            <div class="mb-3">
                                <label for="image">Image</label>
                                <img src="{{base64}}" alt="" style="max-width: 150; max-height: 150px; margin: 10px;">
                                <input type="file" class="form-control" (change)="getImagePath($event)"
                                    accept="image/*">
                            </div>
                            <div class=" mb-3">
                                <label for="message-text" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="message-text"
                                    formControlName="description"></textarea>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-success" (click)="addProduct()" [disabled]="form.invalid"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">{{
                        isEditing ? 'Edit Product' : 'Add Product' }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Product Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let product of products; let index=index">
            <td><img src="{{ product.image }}" alt="product image" /></td>
            <td class="title" style="max-width: 200px;">{{ product.title }}</td>
            <td>{{product.category}}</td>
            <td>${{ product.price }}</td>
            <td>
                <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
                    <button class="btn btn-success" (click)="editProduct(product)" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Edit
                    </button>
                    <button class="btn btn-danger" (click)="deleteProduct(product)">
                        Delete
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- </div> -->